.page.theme_dark {
  --text-color: var(--text-color-dark, #F1B2CE);
  --brand-color: var(--brand-color-dark, #DB00FF);
  --secondary-color: var(--secondary-color-dark, #FF0070);
  --accent-color: var(--accent-color-dark, #FF0070);

  --highlight-color: var(--highlight-color-dark, #000028);
  --page-background-color: var(--background-color-dark, #000028);
  --page-background-image: url("../images/cover-image-dark.png");

  --rec-decor-visibility: visible;

}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-color-dark, #F1B2CE);
    --brand-color: var(--brand-color-dark, #DB00FF);
    --secondary-color: var(--secondary-color-dark, #FF0070);
    --accent-color: var(--accent-color-dark, #FF0070);
    --highlight-color: var(--color-black, #000028);

    --page-background-color: var(--background-color-dark, #000028);
    --page-background-image: url("../images/cover-image-dark.png");

    --rec-decor-visibility: visible;
    
  }
}