.page.theme_light {
  --text-color: var(--text-color-light, #353430);
  --accent-color: var(--accent-color-light, #FF8DCB);
  --brand-color: var(--brand-color-light, #FFC2E6);
  --highlight-color: var(--highlight-color-light, #353430);
  --secondary-color: var(--secondary-color-light, #353430);

  --page-background-color: var(--background-color-light, #FFF1F7);
  --page-background-image: url("../images/cover-image-light.png");

  --rec-decor-visibility: hidden;

}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--text-color-light, #353430);
    --accent-color: var(--accent-color-light, #FF8DCB);
    --brand-color: var(--brand-color-light, #FFC2E6);
    --highlight-color: var(--highlight-color-light, #353430);
    --secondary-color: var(--secondary-color-light, #353430);

    --page-background-color: var(--background-color-light, #FFF1F7);
    --page-background-image: url("../images/cover-image-light.png");

    --rec-decor-visibility: hidden;

  }
}